.item
{
	border: 0px solid black;
	
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.item_pro
{
	border: 2px solid black;
	width: 370px;
	height: 28 0px;
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,.4), 0 6px 20px 0 rgba(0,0,0,.35);
	transition: transform 1s;
}
.item_pro:hover
{
	transform: scale(1.05);
}
.checked
{
	color: orange;
}
.starr 
{
	border: 0px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
}
.title p
{
	text-align: center;
	font-size: 20px;
}
.title b
{
	code: green;
}
.btn
{
	border: 2px solid black;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn input
{
	height:40px;
	width: 130px;
	border-radius: 7px;
	background-color: orange;
	font-size: 20px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,.4), 0 6px 20px 0 rgba(0,0,0,.35);

}
.btn input:hover
{
	background-color: green;
	color: white;
}
	
	
	
	
	
	
	
	
