*
{
	margin:0;
	padding:0;
}



#menu ul
{
	list-style:none;
}
#menu ul li 
{
	background-color:black;
	border: 1px solid white;
	width: 301px;
	height:40px;
	text-align:center;
	line-height:40px;
	float:left;
	position:relative;
}
#menu ul li a 
{
	text-decoration:none;
	color:white;
	display:block;
}
#menu ul li a:hover
{
	background-color:green;
}
#menu ul ul 
{
	position:absolute;
	display:none;s
}
#menu ul li:hover > ul
{
	display:block;
}
#outerbox
{
	z-index:-100;
	width:5120px;
	height:600px;
	overflow:hidden;
}
#sliderbox
{
	
	position:relative;
	width:5120px;
	
	
}
#sliderbox img
{
	width: 1280px;
	float: left;
}
















